.full-centered{
	position: relative;
	width: 100%;
	text-align: center;
	margin: 4em auto 0;
}
/*End - Center Rules*/

/*Change brand color*/
.navbar-default .navbar-header .navbar-brand {
	color: #f05f40;
}
/*End - Nav Rules*/

.login-form-bg{
	border-radius: 10px;
	padding: 30px;
	box-shadow: 5px 5px 10px 3px #ccc;
}
.login-primary{
	background: #574123;
}
.login-danger{
	background: #624E53;
}
/*End - Login Rules*/

.btn-join{
	background-color: #F9604C;
	color: white;
	border-radius: 5px;
}